{% extends 'base.html' %}
{% load bootstrap4 %}

{% block content %}
    <div class="col-md-12 main">
    <h4 class="page-header">入力データ更新</h4>
    <form method="post">
        <div class="container">
            <div class="row">
                <div class="col-6">
                    <div class="content-wrapper">
                        <div class="container-fluid">
                            <div class="card mb-3">
                                <div class="card-header">
                                    <div class="card-body">
                                        {% bootstrap_form form %}
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-6">
                                        <button class="btn btn-primary">更新</button>
                                        <a href="{% url 'mycalendar:DailyInputList' %}"
                                           class="btn btn-primary">戻る</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% csrf_token %}
    </form>
{% endblock %}
