<!doctype html>
<html>
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    {# Bootstrap4を使う #}
    <!-- linkタグでbootstrapのcssファイルを読み込む -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css">
    <!-- linkタグでDataTableのcssファイルを読み込む -->
    <link rel="stylesheet" href="https://cdn.datatables.net/t/bs-3.3.6/jqc-1.12.0,dt-1.10.11/datatables.min.css"/>
    <!-- タイトルの設定-->
    <title>Sample</title>
</head>

<body>
<div class="container">
    <h5>sample</h5>
    {% for item in sample %}
        {{ item.id }}
        {{ item.title }}
        {{ item.name }}
    {% endfor %}
</div>
</body>
</html>
