Django<2.2
psycopg2>=2.7,<3.0
django-allauth
PyMySQL
gunicorn <=19.9
python-dateutil
django-bootstrap4
pytest
pytest-cov
pytest-django
pandas
django-sendgrid-v5
django-formtools
django-pure-pagination